
@{
    ViewBag.Title = "ContractorArea";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContractorArea</title>
</head>
<body>
    <div> 

        <h1>Contractor Area</h1>

        <p>This area is only visible to contractors and administrators.</p>

    </div>
</body>
</html>
