
@{
    ViewBag.Title = "SecureArea";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SecureArea</title>
</head>
<body>

    <div> 

        <h1>Welcome Area</h1>

        <p>You are in the secure area which is available to all authenticated people, you are one of the authenticated.</p>

    </div>

</body>
</html>
